<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
</script>

<style>
    .custom-file-upload {
        border: 1px solid #00bcd4;
        display: inline-block;
        padding: 10px 50px;
        cursor: pointer;
        border-radius: 4px;
        margin-top: -3px;
    }

    input[type="file"] {
        display: none;
        font-family: inherit;
    }
    input[type="file"]:focus {
        display: none;
        font-family: inherit;
        border: 1px solid #ffba22;    
    }
</style>

<div>

    <!-- ADICIONAR SLIDER -->
    <button  type="button" class="float-button btn btn-info btn-round btn-just-icon" ng-click="showFormulario()">
        <i class="material-icons" data-toggle="tooltip" title="Adicionar Calendário">add</i>
    </button>
    
    <div ng-show="showForm" class="animated fadeInLeft" id="formulario" style="margin-left: 15px; margin-bottom: 50px;">
        <div class="row">
            <div class="col-sm-4" style="background: white; border-radius: 6px;">
                <form>
                    <div class="form-group">
                        <label for="">Curso</label>
                        <input type="text" class="form-control" ng-model="novoCalendario.curso">
                    </div>
                    <div class="form-group">
                        <label for="">Ano</label>
                        <input type="text" class="form-control" ng-model="novoCalendario.ano">
                    </div>
                    <div class="form-group">
                        <label class="custom-file-upload">
                            <input type="file" id="imagemCalendario"/>
                            Adicionar Imagem
                        </label>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-primary" ng-click="insertCalendario(novoCalendario)" ng-hide="novoCalendario.editando">Salvar</button>
                        <button type="button" class="btn btn-warning" ng-click="editarCalendario(novoCalendario)" ng-show="novoCalendario.editando">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /ADICIONAR SLIDER -->

    <div class="main main-raised" style="padding-bottom:40px; margin-bottom: 40px">

        <div class="card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title">{{texto}}</b></h4>
            </div>

            <div class="card-content list-group">

                <table class="table">
                    <thead class="text-warning">
                        <tr>
                            <th></th>
                            <th>Curso</th>
                            <th>Ano</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in listaCalendar">
                            <td>
                                <img src="{{baseUrlImagem}}/calendario/{{list.imagem}}" alt="" style="width: 80px;border-radius: 6px;">
                            </td>
                            <td>
                                {{list.curso}}
                            </td>
                            <td>
                                {{list.ano}}
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm btn-delete" ng-click="deletaCalendar(list)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-warning btn-sm btn-delete" ng-click="exibirEditar(list)">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</div>