<!-- <section class="section bg-light" id="pricing" style=" padding-top: 80px;min-height: 100vh; background: linear-gradient(141deg, #ffffff 0%, white 75%);"> -->
<section class="section bg-light" id="pricing" style=" padding-top: 80px;min-height: 100vh; background: url(upload/slider/login.jpg);">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3" style="background: #a7a2a230;">
                <div class="text-center">
                    <div class="title-box-icon text-center">
                        <!-- <img src="upload/slider/logo-w.png" alt="img" class="img-responsive animated fadeInDown" style="height: 150px; display: inline-block;"> -->
                        <h1 style="color: white;">Atletismo S/A</h1>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
                <form id="formUsuario" role="form" class="intro-form animated fadeIn card" style="    padding: 20px;">
                    <div class="form-group">
                        <input type="email" ng-model="user.email" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="user.senha" class="form-control" placeholder="Senha">
                    </div>
                    <div class="form-group text-center">
                        <button ng-click="loga(user)" class="btn btn-success btn-block">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</section>

