<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip(); 
	});
</script>

<style>
.custom-file-upload {
	border: 1px solid #00bcd4;
	display: inline-block;
	padding: 10px 50px;
	cursor: pointer;
	border-radius: 4px;
	margin-top: -3px;
}

input[type="file"] {
	display: none;
	font-family: inherit;
}
input[type="file"]:focus {
	display: none;
	font-family: inherit;
	border: 1px solid #ffba22;    
}
</style>
<style>
	@media print{
		.print{
			display: none;
		} 
	}
</style>
<div>

	<!-- ADICIONAR SLIDER -->
	<button  type="button" class="float-button btn btn-info btn-round btn-just-icon" ng-click="showFormulario()">
		<i class="material-icons" data-toggle="tooltip" title="Adicionar Calendário">add</i>
	</button>

	<div ng-show="showForm" class="animated fadeInLeft" id="formulario" style="margin-left: 15px; margin-bottom: 50px;">
		<div class="row">
			<div class="col-sm-6" style="background: white; border-radius: 6px;">
				<div class="card-content">
					<form action="">
						<div class="form-group">
							<label for="">Nome</label>
							<input type="text" class="form-control" ng-model="novaMatricula.nome">
						</div>
						<div class="form-group">
							<label for="">Nascimento</label>
							<input type="text" class="form-control" ng-model="novaMatricula.idade">
						</div>
						<div class="form-group">
							<label for="">RG</label>
							<input type="text" class="form-control" ng-model="novaMatricula.rg">
						</div>
						<div class="form-group">
							<label for="">Camisa</label>
							<input type="text" class="form-control" ng-model="novaMatricula.camisa">							
						</div>
						<div class="form-group">
							<label for="">Equipe</label>
							<input type="text" class="form-control" ng-model="novaMatricula.equipe">
						</div>
						<div class="form-group">
							<label for="">Percurso</label>
							<input type="text" class="form-control" ng-model="novaMatricula.percurso">
						</div>
						<div class="form-group">
							<label for="">E-mail</label>
							<input type="email" class="form-control" ng-model="novaMatricula.email">
						</div>
						<div class="form-group">
							<label for="">Telefone</label>
							<input type="text" class="form-control" ng-model="novaMatricula.telefone">
						</div>						
						<button type="button" class="btn btn-primary" ng-hide="novaMatricula.editando" ng-click="insertMatricula(novaMatricula)">Salvar</button>
						<button type="button" class="btn btn-warning"
						ng-show="novaMatricula.editando" ng-click="editarMatricula(novaMatricula)">Editar</button>
					</form> 
				</div>
			</div>
		</div>
	</div>
	<!-- /ADICIONAR SLIDER -->


	<div class="main main-raised" style="padding-bottom:40px; margin-bottom: 40px">

		<div class="card">
			<div class="card-header" data-background-color="orange">
				<h4 class="title">Inscrições</b></h4>
			</div>

			<div class="card-content">
				
				<div class="row">
					<div class="col-sm-4">
						<input type="button" class="btn btn-success" value="imprimir" onclick="window.print();">
						<!-- <input type="button" class="btn btn-success" value="imprimir" onclick="self.print();"> -->
					</div>
					<div class="col-sm-4 col-sm-offset-4">
						<input type="text" class="form-control" ng-model="criterioBusca" placeholder="Pesquisar">
					</div>
				</div>
				<table class="table">
					<thead  class="text-warning">
						<tr>
							<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
							<th><a href="" ng-click="ordenarPor('idade')">Data Nascimento</a></th>
							<th><a href="" ng-click="ordenarPor('rg')">RG</a></th>
							<th><a href="" ng-click="ordenarPor('camisa')">Camisa</a></th>
							<th><a href="" ng-click="ordenarPor('equipe')">Equipe</a></th>
							<th><a href="" ng-click="ordenarPor('percuso')">Percurso</a></th>
							<th><a href="" ng-click="ordenarPor('email')">E-mail</a></th>
							<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
							<th class="print">Açoes</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="mat in listagemPre | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao | filter:criterioBusca">
							<td>{{mat.nome}}</td>
							<td>{{mat.idade}}</td>
							<td>{{mat.rg}}</td>		
							<td>{{mat.camisa}}</td>
							<td>{{mat.equipe}}</td>
							<td>{{mat.percurso}}</td>
							<td>{{mat.email}}</td>
							<td>{{mat.telefone}}</td>
							
							<td class="print">
								<a href="" ng-click="deletarPre(mat)">Excluir</a>
								| 
								<a href="" ng-click="exibirEditar(mat)">Editar</a>
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
		
	</div>
</div>