<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<style>
    .custom-file-upload {
        border: 1px solid #00bcd4;
        display: inline-block;
        padding: 10px 50px;
        cursor: pointer;
        border-radius: 4px;
        margin-top: -3px;
    }

    input[type="file"] {
        display: none;
        font-family: inherit;
    }

    input[type="file"]:focus {
        display: none;
        font-family: inherit;
        border: 1px solid #ffba22;
    }
</style>
<style>
    @media print {
        .print {
            display: none;
        }
    }
</style>
<div>
    <div class="main main-raised">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="title">{{texto}}</b></h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="float-button btn btn-primary btn-round btn-just-icon" ng-click="showFormulario()" style="margin-top: -5px; margin-bottom: 0px;">
                            <i class="material-icons" data-toggle="tooltip" title="Adicionar Calendário">add</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="button" class="btn btn-primary" value="imprimir" onclick="window.print();">
                        <!-- <input type="button" class="btn btn-success" value="imprimir" onclick="self.print();"> -->
                    </div>
                    <div class="col-sm-4 col-sm-offset-4">
                        <input type="text" class="form-control" ng-model="criterioBusca" placeholder="Pesquisar">
                    </div>
                </div>
                <table class="table">
                    <thead class="text-warning">
                        <tr>
                            <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                            <th><a href="" ng-click="ordenarPor('email')">E-mail</a></th>
                            <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                            <th><a href="" ng-click="ordenarPor('idade')">Data Nascimento</a></th>
                            <th class="print">
                                <a href="">Açoes</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="mat in listagemPre | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao | filter:criterioBusca">
                            <td>{{mat.nome}}</td>
                            <td>{{mat.email}}</td>
                            <td>{{mat.telefone}}</td>
                            <td>{{mat.nascimento}}</td>
                            <td class="print">
                                <a href="" ng-click="deletarPre(mat)">Excluir</a>
                                |
                                <a href="" ng-click="exibirEditar(mat)">Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div ng-show="showForm" class="animated fadeInLeft" id="formulario" style="margin-left: 15px; margin-bottom: 50px;">
        <form action="">
            <div class="row" style="background: white; border-radius: 6px;">
                <h3 style="margin-left: 10px;">Cadastrar Inscrição</h3>
                
                <div class="col-md-6">
                    <div class="card-content">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" ng-model="novaMatricula.nome">
                        </div>

                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="email" class="form-control" ng-model="novaMatricula.email">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="text" class="form-control" ng-model="novaMatricula.telefone">
                    </div>

                    <div class="form-group">
                        <label>Nascimento</label>
                        <input type="text" class="form-control" ng-model="novaMatricula.nascimento">
                    </div>
                </div>

                <div class="text-right" style="margin-right: 20px;">
                    <button type="button" class="btn btn-primary" ng-hide="novaMatricula.editando"
                        ng-click="insertMatricula(novaMatricula)">Salvar
                    </button>
                    <button type="button" class="btn btn-warning" ng-show="novaMatricula.editando"
                        ng-click="editarMatricula(novaMatricula)">Editar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>