<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<style>
    .custom-file-upload {
        border: 1px solid #00bcd4;
        display: inline-block;
        padding: 10px 50px;
        cursor: pointer;
        border-radius: 4px;
        margin-top: -3px;
    }

    input[type="file"] {
        display: none;
        font-family: inherit;
    }

    input[type="file"]:focus {
        display: none;
        font-family: inherit;
        border: 1px solid #ffba22;
    }
</style>

<div>
    <div class="main main-raised">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="title">{{texto}}</b></h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="float-button btn btn-primary btn-round btn-just-icon"
                            ng-click="showFormulario()" style="margin-top: -5px; margin-bottom: 0px;">
                            <i class="material-icons" data-toggle="tooltip" title="Adicionar Calendário">add</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <table class="table">
                    <thead class="text-warning">
                    <tr>
                        <th width="200"><a>Vídeo</a></th>
                        <th><a>Título</a></th>
                        <th><a>Ações</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="lista in listagemVideo">
                        <td id="td_video_{{$index}}" width="200"></td>
                        <td>
                            {{lista.titulo}}
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-delete" ng-click="deletaVideo(lista)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-warning btn-sm btn-delete" ng-click="exibirEditar(lista)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div ng-show="showForm" class="animated fadeInLeft" id="formulario">
        <div class="row">
            <div class="col-sm-6" style="background: white; border-radius: 6px;">
                <form>
                    <div class="form-group">
                        <label>Título</label>
                        <input type="text" class="form-control" ng-model="novoVideo.titulo">
                    </div>

                    <div class="form-group">
                        <label>ID do Vídeo <br>(EX: https://www.youtube.com/watch?v=<span style="color:blue">gpnix8R3gXds</span>)</label>
                        <input type="text" class="form-control" ng-model="novoVideo.url">
                    </div>

                    <div class="form-group text-right">
                        <button type="button" class="btn btn-primary" ng-click="insertVideo(novoVideo)"
                                ng-hide="novoVideo.editando">Salvar
                        </button>
                        <button type="button" class="btn btn-warning" ng-click="editarVideo(novoVideo)"
                                ng-show="novoVideo.editando">Editar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>