
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header" data-background-color="orange">
                <h4 class="title">Editar Professor</h4>
            </div>
            <div class="card-content">
                <form>
                    <div class="row">
                        <div class="col-md-12" style="z-index: 1;">
                            <div class="form-group label-floating">
                                <label class="control-label">Nome do professor</label>
                                <input type="text" ng-model="dadosProfessor.nome" class="form-control">
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">Email do professor</label>
                                <input type="email" ng-model="dadosProfessor.email" class="form-control">
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">Telefone</label>
                                <input type="text" ng-model="dadosProfessor.telefone" class="form-control" model-view-value="true" placeholder="(__) _____-____" ui-mask="?(99) 99999-9999" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="">
                            <h5>Incluir mais disciplinas para o Professor <b>({{listaDisciplinas.length}})</b></h5>                         
                            <div class="">
                                <select data-container="" data-title="Selecione as Disciplinas" ng-model="dadosProfessor.novasDisciplinas" data-selected-text-format="count > 3"  data-size="5" class="form-control selectpicker-disciplina" multiple>
                                    <option ng-repeat="disc in listaDisciplinas" value="{{disc.id_disciplina}}">{{disc.desc_disciplina}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                    <hr>
                        <div class="col-md-12">
                            <div class="">
                                <div class="header" style="padding: 5px;">
                                    <h4 class="title">Disciplinas do professor <b>({{dadosProfessor.disciplinas.length}})</b></h4>
                                    <p class="category">Estas são atualmente as disciplinas deste professor na sua instituição</p>
                                </div>
                                <div class="card-content table-full-width">
                                    <table class="table table-hover">
                                        <thead>
                                            <th>Nome da disciplina</th>
                                            <th>Ação</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="disc in dadosProfessor.disciplinas">
                                                <td>{{disc.desc_disciplina}}</td>
                                                <td><a href="" ng-click="removeDiscProf(disc.id_disciplina)">Remover</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="z-index: 1;">
                            <!-- <input type="text" ng-model="listaDisciplinaAnterior"> -->
                            <button type="button" ui-sref="home.professor" class="btn btn-default btn-fill"><i class="material-icons">arrow_back</i> Voltar</button>
                            <button type="button" ng-click="salvarAlteracaoProfessor(dadosProfessor)" class="btn btn-warning btn-fill"><i class="material-icons">check</i>   Salvar Alteração</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>

</div>