<style type="text/css">
    .aluno-avatar {
        height: 44px !important;
        width: 44px !important;
        background-position: center;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid #ddd;
        margin-right: 10px;
    }

    .media-body {
        width: 0;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="title">Usuários</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="float-button btn btn-primary btn-round btn-just-icon"
                            ng-click="novoColaborador()" style="margin-top: -5px; margin-bottom: 0px;">
                            <i class="material-icons" data-toggle="tooltip" title="Adicionar Calendário">add</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <table class="table table-hover">
                    <thead class="text-warning">
                    <tr>
                        <th></th>
                        <th><a>Nome</a></th>
                        <th><a>E-mail</a></th>
                        <th><a>Ação</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="col in listaColaborador">
                        <td>
                            <img src="{{baseUrlImagem}}/usuario/{{col.imagem}}" alt=""
                                 style="width: 50px;border-radius: 50px;">
                        </td>
                        <td>{{col.nome}}</td>
                        <td>{{col.email}}</td>
                        <td>
                            <a href="" ng-click="deletaUsuario(col)">Excluir</a>
                            |
                            <a href="" ng-click="exibirEditar(col)">Editar</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInLeft" ng-show="showForm">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <h4 class="title">Editar Usuário</h4>
                <form>
                    <div class="row">
                        <div class="col-md-6" style="z-index: 1;">
                            <div class="form-group is-empty">
                                <label class="control-label">Nome</label>
                                <input type="text" ng-model="novoUsuario.nome" class="form-control">
                            </div>
                            <div class="form-group is-empty">
                                <label class="control-label">E-mail</label>
                                <input type="email" ng-model="novoUsuario.email" class="form-control">
                            </div>   
                        </div>

                        <div class="col-md-6" style="z-index: 1;">
                            <div class="form-group is-empty">
                                <label class="control-label">Senha</label>
                                <input type="password" ng-model="novoUsuario.senha" class="form-control">
                            </div>
                            <div class="form-group is-empty">
                                <label class="control-label">Confirmar Senha</label>
                                <input type="password" ng-model="novoUsuario.confirmaSenha" class="form-control">
                            </div>
                        </div>

                        <div class="text-right" style="margin-right: 20px;">
                            <button type="button" ng-click="editarUsuario(novoUsuario);" class="btn btn-warning ">
                                <i class="material-icons">edit</i> Salvar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Excluir</h4>
            </div>

            <div class="modal-body">
                <div id="tx_confirm_excluir"></div>
                <input type="hidden" id="id_produto_excluir"/>
                <div class="row">
                    <br>
                    <button ng-click="excluiProduto()" class="btn btn-default">Excluir</button>
                    <button ng-click="closeModalExcluir()" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
